<html>
  <head>
    <title>Add to Red Calendar</title>
    <meta name="description" content="Red Calendar is an arts and action calendar that helps NYC gather without big tech middlemen. Add your event here (free).">
    <link rel="icon" type="image/png" href="/add.png" />

    <meta property="og:title" content="Red Calendar" />
    <meta property="og:description" content="Red Calendar is an arts and action calendar that helps NYC gather without big tech middlemen." />
    <meta property="og:image" content="https://cal.red/cal.png" />
    <meta property="og:url" content="https://cal.red" />
   

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kings&family=Lugrasimo&family=Neonderthaw&family=Petit+Formal+Script&family=Plaster&family=Stalinist+One&family=Tangerine:wght@400;700&family=Turret+Road:wght@200;300;400;500;700;800&family=Warnes&display=swap"
      rel="stylesheet"
    />

    <style>
      body {
        font-family: Helvetica, sans-serif; 
        background-color: rgb(120, 0, 0);
        font-size: 15px;
      }

      #menu {
        position: fixed;
        background-color: rgb(249, 91, 74);
        color: rgb(52, 0, 0);
        z-index: 10;
        bottom: 0;
        padding: 2vw;
        box-shadow: 0px 3px 12px 3px rgb(120, 0, 0);
        width: 210px;
        right: 0;
        font-family: Helvetica;
      }
      a {
        color: black;
      }

      input,
      textarea {
        width: 100%;
      }

      input[type="radio"] {
        width: 30;
      }

      input[type="checkbox"] {
        width: 30;
      }

      input[type="file"] {
        width: 300;
      }

      form {
        position: relative;
        /* background-color: rgb(253, 106, 106); */
        /* background-color: rgb(255, 90, 72); */
        background-color: rgb(253, 85, 66);
        padding: 3vw;
        width: 45vw;
        left: 24.5vw;
        top: 3vw;
        border-bottom: 3vw solid rgb(120, 0, 0);
      }

      #title-add {
        text-align: center;
        box-shadow: 0px 3px 12px 3px rgb(120, 0, 0);
        padding: 15px;
      }

      #cost-field {
        display: none; /* Hidden by default */
        margin-top: 10px;
      }

      #notes {
        box-shadow: 0px 3px 12px 3px rgb(120, 0, 0);
        padding: 15px;
      }

      #caution {
        box-shadow: 0px 3px 12px 3px rgb(120, 0, 0);
        padding: 15px;
      }

      button {
            all: unset;
            box-shadow: 0px 3px 3px 3px rgb(202, 0, 0);
            border-radius: 50%; 
            color: white; 
            text-shadow: 1px 1px 3px rgb(101, 0, 0);
            background-image: radial-gradient(circle,rgb(192, 0, 0) 0%, rgba(255, 104, 54, 1) 39%, rgba(239, 255, 166, 1) 100%);
            cursor: pointer;
            padding: 6vw; 
            border: .3vw dashed red; 
            transition: box-shadow 1s, border 1s;
            text-align: center; 
            width: 32.4vw; 
            font-size: 24px; 
         
        }

        button:hover {
            box-shadow: 6px -12px 60px 15px white;
            border: 3vw dotted rgba(239, 255, 166, 1); 
        }


      @media only screen and (max-width: 750px) {
        #menu {
                    width: 96vw; 
                    right: none; 
                    left: 0; 
                }

        form {
          width: 88vw; 
          left: 2vw; 
        }
      }


    </style>
  </head>
  <body>
    <form action="/upload" method="post" enctype="multipart/form-data" onsubmit="return verify()" >
      <div id="title-add"><b>Add an event to Red Calendar here:</b></div>
      <br />
      <div id="notes">

        Red Calendar is an <a href="https://cal.red/?event=about">arts and action calendar</a> that helps NYC gather without big tech middlemen.
        <ol>
        <!-- <li>Before adding your event, please check that it’s not already on the Calendar!</li> -->
        <li>All events will be approved by an Editor before they are posted to the Calendar.</li>
        <ul>
          <li>NOTE: This isn't about judging what's "good" (we don't have the capacity or desire to do that); we approve the majority of submitted events.</li>
        </ul>
        <li>All events must be open to the public and AFK.</li>
        <!-- <li>We have a strong preference for cheap or free events. </li> -->
 
        <li>All Red Calendar events get their own individual url.</li>
        <li>Red Calendar Editors will not "edit" your event; <b>anything you submit will be included exactly as-is</b>. If you notice an error in an event, resubmit it error-free, including “EDIT” in the field with your name.</li>
        <li>You’re welcome to get wild with (push against the boundaries of) this form.</li>
        </ol>
       
        <!-- Be sure to triple-check that your submission is error-free!  -->
 

        <b><u>We want to add a couple Editors (ie., prolific event-adders) to our team!</u></b> Please <a href="https://form.jotform.com/251484280257055">fill out this form</a> and email theo@oral.pub if you're interested. <br /><br />

        Thank you for sharing your event with the Red Calendar community! 
      </div>
      <br />
      <label for="name">Your name *</label>
      <input type="text" id="name" name="name" required />
      <br /><br />

      <label for="email">Your email *</label><br />
      <input type="email" id="email" name="email" required />
      <br /><br />

      <label for="your-url">Link to your personal website/social media &mdash; and/or private note to Red Calendar Editors [optional]</label><br />
      <input type="text" id="your-url" name="yourUrl"/>
      <br /><br />


      <label for="image"
        >Event image/poster [JPG or PNG under 1MB.] *</label
      ><br />
      <input
        type="file"
        id="image"
        name="image"
        accept="image/*"
        required
        onchange="previewImage(event)" required
      />
      
      <img
        id="preview"
        src=""
        alt="Image Preview"
        style="display: none; width: 100%; height: auto"
      />
      <br />Compress using "Export as" or <a href="https://cloudconvert.com/compress-jpg">here</a>.
      <br /><br />


      <label for="title">Event title *</label><br />
      <input type="text" id="title" name="title" maxlength="300" required />
      <br /><br />


      <label for="cost">Cost *</label><br />
      <input type="text" id="cost" name="cost" maxlength="300" required />
      <br /><br />


      <label for="when">When *</label><br />
      <input type="datetime-local" id="when" name="when" required />
      <br /><br />

      <label for="where"
        >Where * [include neighborhood in brackets]</label
      ><br />
      <textarea rows="3" id="where" name="where" maxlength="300" required></textarea>
      <br /><br />

      <label>Categories (choose as many as apply - up to 3): *</label
      ><br />

      <% tags.forEach((t)=>{ %>
        <input type="checkbox" id="<%=t.id%>" name="categories" value="<%=t.tag_name%>">
        <label for="<%=t.id%>"><%=t.tag_name%></label><br />
      <% }) %>
     

      <p id="warning" style="border: 9px solid red; display: none">
        No more than 3 <3
      </p>
      <br />


      <label for="description"
        >Description [optional &mdash; incl. accessibility notes, age limit, participants, etc.]:</label
      ><br />
      <textarea rows="3" id="description" name="description" maxlength="6000" oninput="autoExpand(this)"></textarea>
      <div id="charCount">3000 characters left</div>
      <br />

      <script>
        function autoExpand(textarea) {
          textarea.style.height = 'auto'; // reset height
          textarea.style.height = textarea.scrollHeight + 'px'; // set to scrollHeight
        }
        </script>


      <label for="urlurl">Url [encouraged; please try to avoid Partiful, Instagram, and X urls]</label>
      <input type="url" id="urlurl" name="urlurl" />
      <br /><br />

      <label for="link">Link text for above url [optional] &mdash; eg. "Buy tickets!" or "RSVP here" or "Link to venue <3"</label>
      <input type="text" id="link" name="link" maxlength="300"/>
      <br /><br />

      <div id="caution">
        Before submitting,
        <u><b>check everything twice or thrice!</b></u> 
        
        <!-- Once you click submit,
        any edits will have to be done manually by a Red Cal editor. You <b><u>won’t receive an email</b> </u>confirmation when you upload an event (but that feature is coming soon!) -->
      </div>
      <br />
      <button type="submit">Submit and return to the Calendar</button>
    </form><br><br><br><br><br><br>

    <div id="menu">
      Welcome to Red Calendar.<br /><br />

      <a href="/">Back to the Calendar.</a><br /><br />

      <a href="https://cal.red/?event=about">About.</a>
    </div>


    <script>
      const borderStyles = ["dotted", "dashed", "double", "solid"];
      const borderColors = [
        "rgb(101, 0, 0)", "white", "rgb(192, 0, 0)", "rgba(255, 104, 54, 1)", "rgba(239, 255, 166, 1)"

      ];
    
      document.querySelectorAll("button").forEach(button => {
    // Store original border to restore later
    const originalBorder = button.style.border || getComputedStyle(button).border;

    button.addEventListener("mouseenter", () => {
      const style = borderStyles[Math.floor(Math.random() * borderStyles.length)];
      const color = borderColors[Math.floor(Math.random() * borderColors.length)];
      button.style.border = `3vw ${style} ${color}`;
    });

    button.addEventListener("mouseleave", () => {
      button.style.border = originalBorder;
    });
  });
</script>
    
    <script>
      document.getElementById("description").addEventListener("input", function () {
        let maxLength = this.getAttribute("maxlength");
        let currentLength = this.value.length;
        let remaining = maxLength - currentLength;
        
        document.getElementById("charCount").textContent = remaining + " characters remaining";
      });
    </script>

    <script>

      const now = new Date();   //get current date and time
      now.setDate(now.getDate() - 1); //make it yesterday yesterday
      now.setHours(16, 0, 0, 0); //make it 7pm
      const formattedDateTime = now.toISOString().slice(0, 16); 
      document.getElementById("when").value = formattedDateTime;//set default time/date in form

      function verify() {
        const currentValue = document.getElementById("when").value;
        const file = document.getElementById("image").files[0];

        if (currentValue === formattedDateTime) {
          alert("Hi! Looks like you forgot to update the date.");
          return false;
        }

        if (file && file.size > 1048576) {
          alert("Your img is bigger than 1MB! Please compress.");
          return false;
        }
        return true;
      }
    </script>

    <script>
      function previewImage(event) {
        const preview = document.getElementById("preview");
        const file = event.target.files[0];

        if (file) {
          const reader = new FileReader();
          reader.onload = function () {
            preview.src = reader.result;
            preview.style.display = "block";
          };
          reader.readAsDataURL(file);
        }
      }
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const checkboxes = document.querySelectorAll(
          'input[name="categories"]'
        );
        const warning = document.getElementById("warning");

        checkboxes.forEach((checkbox) => {
          checkbox.addEventListener("change", function () {
            const checkedBoxes = document.querySelectorAll(
              'input[name="categories"]:checked'
            );

            if (checkedBoxes.length > 3) {
              this.checked = false; // Uncheck the last clicked checkbox
              warning.style.display = "block"; // Show warning message
            } else {
              warning.style.display = "none"; // Hide warning message
            }
          });
        });
      });
    </script>
    <script data-goatcounter="https://calred.goatcounter.com/count"
    async src="//gc.zgo.at/count.js"></script>

  </body>
</html>
